<div>
  <div class="input-field col s12 m12">
    <input #heroName type="text" id="hero-name" />
    <label class="active" for="hero-name">Hero Name:</label>
  </div>

  <button
    (click)="add(heroName.value); heroName.value=''"
    class="btn blue btn-slim waves-effect waves-light"
  >
    Add
  </button>
</div>

<div *ngIf="selectedHero" class="row">
  <div class="col s12 m6">
    <div class="card green lighten-1">

      <div class="card-content white-text">
        <span class="card-title">{{selectedHero.name | uppercase}} is my hero</span>
      </div><!-- /.card-content -->

      <div class="card-action">
        <a (click)="gotoDetail(selectedHero); $event.preventDefault()">View Details</a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="collection">
  <a
    *ngFor="let hero of heroes"
    class="collection-item blue-text text-darken4"
    [class.active]="hero === selectedHero"
    (click)="onSelect(hero); $event.preventDefault()">
    {{hero.name}}

    <span class="badge">
      {{hero.id}}
      <button
        class="btn blue btn-slim waves-effect waves-light delete"
        (click)="delete(hero); $event.stopPropagation()"
      >
        <i class="material-icons">delete</i>
      </button>
    </span> 

  </a>
</div><!--/.collection -->